{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="main_goods">
    <div class="head_mgoods">
        <h1>Товары к заказу</h1>
    </div>
    <div class="price_out">
        {% if cart.get_len %}
            <div class="list_goods">
            {% for item in cart %}
                {% with product=item.product %}
                    <div class="one_good">
                        <div class="con_img">
                            <a href="{% url 'product_detail' pk=product.id_product %}">
                                <img src="{{ product.image.url }}" alt="">
                            </a>
                        </div>
                        <div>
                            Артикул: {{ product.id_product }}
                        </div>
                        <div>
                            {{ product.title }}
                        </div>
                        <div>
                            Количество:
                            {{ item.quantity }}
                        </div>
                        <div>
                            Цена:
                            {{ item.product.get_latest_price }}
                        </div>
                        <div>
                            <a href="{% url "cart:cart_remove" product.id_product %}">Убрать</a>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
            {% else %}
            <div class="goods">
            Корзина пуста
            </div>
        {% endif %}
        <div class="price">
            <h3 style="margin-bottom: 20px;">Стоимость заказа</h3>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.title }}
                    <span style="margin-left: 20px">${{ item.total_price }}</span>
                </li>
            {% endfor %}
            <p style="color: grey;">Итого: {{ cart.get_total_price }} руб.</p>
            <div style="margin-bottom: 20px;">
                <a href="{% url 'order_create' %}" >
                    {% if  cart.get_len == 0 %}
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit" disabled>Оплатить</button>
                    {% else %}
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Оплатить</button>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
